PORT=5001
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/event_registration
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ORGANIZER_CODE=your_secret_code
